html{height: 100%;}
body{
    color:color(900); font-family: font(rg);
    @include media-breakpoint-down(lg) {
      font-size: 14px;
    }
}

a{
    &:hover{text-decoration: none;}
}

:focus{outline: 0 !important;}



::-moz-selection {
  color: color(50);
  background: color(500);
}

::selection {
  color: color(50);
  background: color(500);
}

