$h34-font-sizes: (
  null   : 18px,
  767px  : 20px,
  992px  : 22px,
  1200px : 26px,
  1600px : 34px,
);

$h28-font-sizes: (
  null   : 17px,
  768px  : 18px,
  992px  : 20px,
  1200px : 24px,
  1600px : 28px,
);

$h22-font-sizes: (
  null   : 16px,
  992px  : 17px,
  1200px : 20px,
  1600px : 22px
);

$h20-font-sizes: (
  null   : 15px,
  768px  : 16px,
  1200px : 18px,
  1600px : 20px,
);


$h17-font-sizes: (
  null  : 14px,
  1024px : 15px,
  1200px : 17px,
);

$h15-font-sizes: (
  null   : 13px,
  767    : 14px,
  1200px : 15px,
);

$h13-font-sizes: (
  null : 13px,
);